
<div *ngIf="meetupObs | async as meetup">
    <div class="card" [routerLink]="['/meetups/', meetup._id]">
        <div class="card-image">
            <img src="./assets/img/{{meetup.meetupData.image}}">
        </div>
        <div class="card-content">
            <span class="card-title">{{meetup.meetupData.name}}</span>
            <span class="card-title price-card">{{meetup.meetupData.price | currency:"USD":true }}</span>
            <p>{{meetup.createdBy}}</p>
            <p>{{meetup.meetupData.eventsDate | date:'fullDate'}}</p>
        </div>
    </div>
</div>
