.modal.add-meetup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: none;
    width: 95%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
}
label#add-form {
    font-size: 18px;
    color: black;
}

p.error-input.ng-star-inserted {
    margin-top: -10px;
    margin-bottom: 10px;
    color: red;
}

.modal .modal-content {
    padding: 80px 100px;
}

input.form-control::placeholder {
    padding-left: 10px;
    color: #757575;
}

h4 {
    font-size: 26px;
    font-weight: 500;
    color:#258b80;
    margin-bottom: 40px;
}

.form-group.description {
    margin-top: 40px;
    margin-bottom: 30px;
}
.fr-box.fr-basic.fr-top {
    margin-top: 20px;
    /* width: 100px; */
    /* height: 100px; */
}

.img-omg {
    margin: 10px;
    margin-bottom: 20px;
}

input[type="file"] {
    margin-top: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.descr-loc {
    margin-left: 20px;
    padding: 10px;
}

label#registr {
    font-size: .9rem;
    color: #0e0e0e;
}

.search-results {
    /* border: 1px solid; */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.search-btn {
    color: black;
    width: 600px;
    border: none;
    height: 60px;
    text-align: left;
    background-color: white;
}