 <div id="modal2"  *ngIf="isDialogOpen" class="modal add-meetup open" style="z-index: 1005; display: block; opacity: 1; transform: scaleX(1); top: 10%;">
        <button (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat "> 
                <i class="large material-icons">close</i>
        </button>   
    <div class="modal-content">
            <h4>Создание мероприятия</h4>
            <form novalidate [formGroup]="MeetupForm" id="add-meetup-form" (ngSubmit)="onMeetupFormSubmit()" class="col s4 edit-meetups-form">
                <div class="form-group" [ngClass]="{
                    'has-danger': name.invalid && (name.dirty || name.touched),
                    'has-success': name.valid && (name.dirty || name.touched)
                    }">
                    <label id="add-form" id="add-form">Название</label>
                    <input type="text" placeholder="Введите краткое название"class="form-control" formControlName="name" required>
                    <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                        <p class="error-input" *ngIf="name.errors.required">*Обязательное поле</p>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{
                    'has-danger': address.invalid && (address.dirty || address.touched),
                    'has-success': address.valid && (address.dirty || address.touched)
                    }">
                    <label id="add-form">Адрес</label>
                    <!-- <input type="text" class="form-control" placeholder="Поиск адреса" formControlName="address" required> -->

                    <div  class="descr-loc">
                        <label id="registr">Страна, город</label>
                        <input   type="text"  [(ngModel)]="queryString" (click)="isClicked = true" id="search" placeholder="Поиск адреса" class="form-control" formControlName="address">
                            <div *ngIf="queryString && isClicked">
                                <div class="search-results">
                                    <div *ngFor="let loc of locations | filter: queryString" class="list-search">
                                        <button  class="search-btn" (click) = "makeInvisible(loc.meetupData.name)">  {{loc.meetupData.name}} </button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label id="registr">Улица, дом, квартира</label>
                                <input type="text"  placeholder="Введение подробного адреса" class="form-control">
                
                            </div>
                           
                
                    </div>




                    
                </div>
                <div class="form-group">
                 <div>
                        <label id="add-form">Дата начала</label>
                        <input id="datetime" type="datetime-local" class="form-control" formControlName="eventsStartDate" >

                 </div>
                 <div>
                    <label id="add-form">Дата окончания</label>
                    <input id="datetime" type="datetime-local" class="form-control" formControlName="eventsEndDate" >
                    </div>
                </div>
                <div class="form-group" [ngClass]="{
                    'has-danger': createdBy.invalid && (createdBy.dirty || createdBy.touched),
                    'has-success': createdBy.valid && (createdBy.dirty || createdBy.touched)
                    }">
                    <label id="add-form">Организатор</label>
                    <input type="text" class="form-control" formControlName="createdBy" required>
                    <div class="form-control-feedback" placeholder="Кто организатор мероприятия?"  *ngIf="createdBy.errors && (createdBy.dirty || createdBy.touched)">
                        <p class="error-input" *ngIf="createdBy.errors.required">*Обязательное поле</p>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{
                    'has-danger': price.invalid && (price.dirty || price.touched),
                    'has-success': price.valid && (price.dirty || price.touched)
                    }">
                    <label id="add-form">Цена (USD)</label>
                    <input type="text" class="form-control" placeholder="Веведите цену билета или 0, если мероприятие бесплатное"  formControlName="price" required>
                    <div class="form-control-feedback" *ngIf="price.errors && (price.dirty || price.touched)">
                        <p class="error-input" *ngIf="price.errors.required">*Обязательное поле</p>
                        <p class="error-input" *ngIf="price.errors.pattern">*Должно быть число</p>
                    </div>
                </div>
                <div class="form-group" class="img-omg">
                    <label id="add-form"> URL Изображения </label>
                    <div>
                        <!-- <input type="file" accept="image/*"> -->
                        <div class="file-field input-field">
                                <div class="btn">
                                  <span>Выбрать</span>
                                  <input type="file">
                                </div>
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                              </div>
                    </div>
                    
                    <!-- <input type="text" class="form-control" formControlName="image" required> -->
                </div>
                <div class="form-group" [ngClass]="{
                    'has-danger': category.invalid && (category.dirty || category.touched),
                    'has-success': category.valid && (category.dirty || category.touched)
                    }">
                    
                    <label id="add-form">Категория</label>
                    <select class="browser-default" formControlName="category" required>
                        <option value="Выберете основную категорию" disabled selected>Выберете основную категорию</option>
                        <option *ngFor="let category of categories" value="{{category.category_name}}">{{category.category_name}}</option>
                      </select>

                    <!-- <input type="text" class="form-control" placeholder="Выберете основную категорию"  formControlName="category" required> -->
                    <div class="form-control-feedback" *ngIf="category.errors && (category.dirty || category.touched)">
                        <p class="error-input" *ngIf="category.errors.required">*Обязательное поле</p>
                    </div>
                </div>
                <div class="form-group description" [ngClass]="{
                    'has-danger': description.invalid && (description.dirty || description.touched),
                    'has-success': description.valid && (description.dirty || description.touched)
                    }">
                        <label id="add-form" class="desc">Описание</label>
                        <!-- <input type="text" class="form-control" formControlName="description" required> -->
                        <textarea [froalaEditor] formControlName="description"></textarea>
                        <div class="form-control-feedback" *ngIf="description.errors && (description.dirty
                         || description.touched)">
                            <p class="error-input" *ngIf="description.errors.required">*Обязательное поле</p>
                        </div>
                    </div>
                <input class="waves-effect waves-light btn model-submit" type="submit" [disabled]="MeetupForm.invalid" value="Создать мероприятие">
            </form>
        </div>
    </div>


    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    setTimeout(function() { 
        var elem = document.querySelector('.datepicker');
        
        var instance = M.Datepicker.init(elem, {
        minDate: new Date()}); 
        var elems = document.querySelectorAll('.timepicker');
        var instances = M.Timepicker.init(elems);
        
        }, 1000);


//     setTimeout(function() { 
//     var elems = document.querySelectorAll('.timepicker');
//     var instances = M.Timepicker.init(elems, options);
// }, 1000);

console.log(instance);
      
</script>
