<h2> Регистрация</h2>
<form novalidate [formGroup]="userForm" #form="ngForm" (submit)="registerUser()">
    <div class="form-group" [ngClass]="{
   'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
   'has-success': firstName.valid && (firstName.dirty || firstName.touched)
   }">
        <label>Имя</label>
        <input type="text" class="form-control" formControlName="firstName" required>
        <div class="form-control-feedback" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
            <p *ngIf="firstName.errors.required">Обязательное поле</p>
        </div>
    </div>
    <div class="form-group" [ngClass]="{
   'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
   'has-success': lastName.valid && (lastName.dirty || lastName.touched)
   }">
        <label>Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" required>
        <div class="form-control-feedback" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
            <p *ngIf="lastName.errors.required">Обязательное поле</p>
        </div>
    </div>
    <div class="form-group" [ngClass]="{
   'has-danger': email.invalid && (email.dirty || email.touched),
   'has-success': email.valid && (email.dirty || email.touched)
   }">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email" required>
        <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">Обязательное поле</p>
            <p *ngIf="email.errors.pattern">Формат почты john@doe.com.</p>
        </div>
    </div>
    <div class="form-group" [ngClass]="{
   'has-danger': location.invalid && (location.dirty || location.touched),
   'has-success': location.valid && (location.dirty || location.touched)
   }">
        <label>Местоположение</label>
        <input type="text" class="form-control" formControlName="location" required>
        <div class="form-control-feedback" *ngIf="location.errors && (location.dirty || location.touched)">
            <p *ngIf="location.errors.required">location is required</p>
        </div>
    </div>
    <div class="form-group" [ngClass]="{
   'has-danger': password.invalid && (password.dirty || password.touched),
   'has-success': password.valid && (password.dirty || password.touched)
   }">
        <label>Пароль</label>
        <input type="password" class="form-control" formControlName="password" required>
        <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
            <p *ngIf="password.errors.required">Password is required</p>
            <p *ngIf="password.errors.minlength"> Паль должен быть больше 8 символов вам необходимо добавить {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} символов </p>
        </div>
    </div>
    <div class="form-group" [ngClass]="{
   'has-danger': password.invalid && (password.dirty || password.touched),
   'has-success': password.valid && (password.dirty || password.touched)
   }">
        <label>Подверждение пароля </label>
        <input type="password" class="form-control" formControlName="passwordConfirm" required>
        <div class="form-control-feedback">
            <p *ngIf="form.hasError('mismatch')"> Password mismatch</p>
        </div>
    </div>
    <input class="waves-effect waves-light btn" [disabled]="userForm.invalid" type="submit" value="Зарегистрироваться">
</form>