@media (max-device-width: 800px) {
    #nav-mobile {
        transform: translateX(-150%);
    }
    .brand-logo {
        left: 20%;
    }
    a.top-nav.sidenav-trigger.waves-effect.waves-light.circle.hide-on-large-only {
        margin-top: -70px;
        margin-left: 5px;
        color: white;
    }
    nav.lighten-2 {
        width: 160%;
    }
    
}
@media (max-width: 800px) {
    a.brand-logo {
        display: block;
        z-index: 222222;
        margin-top: -140px;
        width: 300px;
    }
}
@media (min-device-width: 800px) {
    #nav-mobile {
        transform: translateX(0%);
    }
    
}
/*click="document.getElementById('nav-mobile').style.width="100px'""*/
nav.lighten-2 {
    background-color: #258b80;
}

a:hover {
    text-decoration: none;
}
i.material-icons {
    color: black;
}
ul#dropdown1 {
    margin-top: 60px;
}

.brand-logo img {
    width: 40%;
    margin: 10px 20px 20px 20px;
}

input#search {
    position: absolute;
    margin-left: 40px;
    margin-top: 4px;
}

.search-wrapper.card {
    padding: 0px 10px;
}

input#search {
    position: absolute;
    margin-left: 40px;
    color: black;
}

  
  .page-title {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    letter-spacing: .11em;
    line-height: 1em;
    text-rendering: optimizeLegibility;
  }
  
.search-wrapper.card {
    margin-top: 150px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 70px;
    left: 30px;
    position: absolute;
    width: 50%;
    color: #3b8c85;
}

input#icon_prefix {
    width: 550px;
}


a.bold.collapsible-header.waves-effect.waves-teal {
    font-weight: bold;
}

.search-results {
    width: 50%;
}


a .list-search {
    color: #198476;
    font-weight: 500;
}

.collapsible-body {
    margin-left: 20px;
}

.side-nav li.active {
    background-color: white;
}

button.category {

    color: cadetblue;
    font-weight: 700;
}
button {
    background: none;
    border: none;

}