 <div>
          <div class = "admin-card">
          <div class="row">
                <div class="card once-meetup comment">

                  <div class="card-content" >
                        
                        <div class="card-content" style="height: 200px;">
                              <!-- <span class="card-title price-card"> 
                              Рейтинг: {{ comment.commentsRating }}
                                    
                              </span> -->
                              <div class="row answerr" style="    width: 20%;">
                                    <img class= "answ" src="./assets/img/no-fav.jpg">
                                    <p>Pavel</p>
                              </div>
                              <div class="row answerr">
                                    <span class="card-title price-card"> 
                        
                                    Вопрос: {{ comment.commentsTitle }}
                                                      
                                    </span>
                                    <p class="descr-p">Описание:</p>
                                    <span>{{ comment.commentsDescription }}</span>
                              </div>

                        </div>
                  </div>
                </div>

          </div>
          <div *ngIf="isAnswer" class="row">
            <div class="card once-meetup comment answer an">
                  <div class="card-content">
                        <div class="card-content anw-rr">
                              <span> Pavel, обязательно сделаем.</span>
                        </div>
                  </div>
            </div>
          </div>
          <form novalidate [formGroup]="commentForm" id="add-meetup-form" (ngSubmit)="onCommentFormSubmit()" class="col s4 edit-meetups-form">
          <div class="row"> <a (click)="openModal()" >Ответить</a> </div> 
          <div class="row" *ngIf="isDialogOpen">  
                              <label id="add-form">Ответ</label>
                              <input type="text" formControlName="answer" placeholder="Введите ответ" class="form-control">
                        
                        <input class="waves-effect waves-light btn model-submit" (click)="isAnswer=true" type="submit" value="Ответить"/>
         </div>
         </form> 
          </div>
</div>

