 <div>
          <div class = "admin-card">
          <div class="row">
                <div class="card once-meetup comment">
                  <div class="card-content">
                        <div class="card-content">
                              <!-- <span class="card-title price-card"> 
                              Рейтинг: {{ comment.commentsRating }}
                                    
                              </span> -->
                              <span class="card-title price-card"> 
                              Вопрос: {{ comment.commentsTitle }}
                                    
                              </span>
                              <p>Описание:</p>
                              <span>{{ comment.commentsDescription }}</span>
                        </div>
                  </div>
                </div>

          </div>
          <form novalidate [formGroup]="commentForm" id="add-meetup-form" (ngSubmit)="onCommentFormSubmit()" class="col s4 edit-meetups-form">
          <div class="row"> <a (click)="openModal()" >Ответить</a> </div> 
          <div class="row" *ngIf="isDialogOpen">  
                              <label id="add-form">Ответ</label>
                              <input type="text" formControlName="answer" placeholder="Введите ответ" class="form-control">
                        
                        <input class="waves-effect waves-light btn model-submit" type="submit" value="Ответить"/>
         </div>
         </form> 
          </div>
</div>

