.card.once-meetup.comment {
    width: 90%;
}


@media (max-width: 800px) {

    .card.once-meetup.comment {
        margin-left: -340px;
        /* width: 100%; */
        width: 360%!important;
   }

  
    
}