.card-image img {
    height: 200px;
    width: 300px;
    margin: 0 auto;
}

.card {
    width: 350px;
    margin: 10px 20px;
    padding: 20px 20px 31px 20px;
}

.col.s12.m6 {
    display: flex;
}

.card-content {
    padding: 0px;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #898686;
}

.home-wr {
    margin-top: 10px;
    margin-left: 350px;
}

.price-card {
    position: absolute;
    margin-left: 240px;
    font-size: 17px;
}

span.card-title {
    font-size: 18px !important;
}

p {
    font-weight: bold;
}

a.collapsible-header.waves-effect.waves-teal {
    font-weight: bold !important;
}

input#icon_prefix {
    width: 300px;
    float: right;
    margin-right: 1000px;
    
}

.search-ico {
    margin-top: 10px;
    position: absolute;
}

.col.s12.m6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 110%;
}

.ng-star-inserted {
    margin: 0 3px;
}

.add-button {
    margin-bottom: 30px!important;
}

div#modal2[_ngcontent-c5] {
    width: 30%;
    height: 200px;
    box-shadow: 1px black;
    /* height: 30%; */
    box-shadow: 0 12px 12px 0 rgba(14, 14, 14, 0.4);
    /* border: solid 5px #ffced2; */
}

button.modal-action.modal-close.waves-effect.waves-green.btn-flat {
    margin-left: 93%;
    padding: 0;
}

i.large.material-icons {
    font-size: 35px;
}

i.large.material-icons.done {
    font-size: 140px;
    margin-left: 140px;
    color: #258e42;
}

.model-cont {
    padding: 20px;
}

span.card-title {
    margin-top: 15px;
}

.card-content[_ngcontent-c5] {
    padding: 0px;
    padding-bottom: 30px;
}

.ng-star-inserted[_ngcontent-c5] {
    margin: 10px 0px 0px 0px;
}

.modal.modal-fixed-footer {
    /* padding: 0; */
    height: 200px;
    width: 30%;
}

.edit-ico {
    position: absolute;
    width: 100px;
    margin: 0px 0px 0px 140px;
}

button.modal-action.modal-close.waves-effect.waves-green.btn-flat {
    height: 60px;
    margin-top: -10px;
}

.card[_ngcontent-c3] {
    width: 350px;
    margin: 30px -4px;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.65), 0 1px 5px 0 rgba(0, 0, 0, 0.72), 0 3px 1px -2px rgba(0, 0, 0, 0.69);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.65), 0 1px 5px 0 rgba(0, 0, 0, 0.72), 0 3px 1px -2px rgba(0, 0, 0, 0.69);
    padding: 20px 20px 31px 20px;
}

.cont {
    margin-left: 45px;
}