<div class="home-wr" id="cont">
    <div id="container">
            <h3 class="mobile-title"> Meetups </h3>
            <div
              ng2-carouselamos
              class="slides-wrapper"
              [items]="items"
              [width]="2000"
              [$prev]="prev"
              [$next]="next"
              [$item]="item"
            >
            </div>
          <ng-template #prev>
            <img src=".\assets\img\left-arrow.png" id="left" />
          </ng-template>
          <ng-template #next>
            <img src=".\assets\img\right-arrow.png" id="right" />
          </ng-template>
          <ng-template #item let-item let-i="index">
              <div class="items">
                  <div class = "slider-info">
                  <h1>{{ item.title }}</h1>
                  <button data-target="modal1" (click) = "openModal()" class="btn modal-trigger">{{ item.buttonVal }}</button>
                  </div>
                <img class="slider-img" src="{{ item.name }}">
              </div>
      
          </ng-template>
    <!--<ul>
        <li>
            <i class="material-icons prefix search-ico">search</i>
        </li>
        <li>
            <input id="icon_prefix" type="text" [(ngModel)]="queryString" class="validate">
        </li>
        <li>
            <label>Sort: </label>
            <select class="browser-default"  [(ngModel)]="sortString" >
                <option value="" disabled> Choose your option</option>
                <option value="No sort" selected>No sort</option>
                <option value="SortPrice: Lowest to Highest">SortPrice: Lowest to Highest</option>
                <option value="SortPrice: Highest to Lowest">SortPrice: Highest to Lowest</option>
                <option value="3">Relevance</option>
            </select>
        </li>
    </ul> -->

    <h2 class=row>Популярное</h2>
    <div class="row" [@flyInOut]="'in'" *ngIf="meetupsObs | async as onemeetup else loading">
        <div class="col s12 m6" >
            <app-meetups *ngFor="let meetup of onemeetup | sort: sortString | filter: queryString" [meetup]="meetup" [isUser] = "this.authService.getloggedIn()" [category] = "category">   
            </app-meetups>
        </div>
    </div>
    <ng-template #loading>
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div> 
                </div><div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
</div>