
@media (max-width: 800px) {
    .row {
        width: 90%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    ul[_ngcontent-c2] {
        margin-left: 30px;
        width: 70%;
    }
    h2[_ngcontent-c2] {
        text-align: center;
        font-size: 30px;
        margin-left: 0px;
        color: #898686;
    }
    
}
@media (min-width: 800px) {
    ul {
        margin-left: 400px;
        width: 20%;
    }
    .row {
        margin-left: 400px;
        margin-right: auto;
        width: 70%;
        margin-bottom: 20px;
    }
    
}

span.card-title.price-card {
    font-size: 18px;
    font-weight: 500;
}


.search-ico {
    position: absolute;
    margin-top: 5px;
}
h2 {
    text-align: center;
    font-size: 30px;
    margin-left: 300px;
    color: #898686;
}

.card-image img {
    height: 200px;
    width: 300px;
    margin: 0 auto;
}

.row .col.s6 {
    width: 30%;
    margin-left: auto;
    left: auto;
    right: auto;
}

input#icon_prefix {
    margin-left: 30px;
}

div#modal2[_ngcontent-c5] {
    width: 30%;
    height: 200px;
    box-shadow: 1px black;
    /* height: 30%; */
    box-shadow: 0 12px 12px 0 rgba(14, 14, 14, 0.4);
    /* border: solid 5px #ffced2; */
}
.ng-star-inserted[_ngcontent-c5] {
    margin: 10px 0px 0px 0px;
}

.modal.modal-fixed-footer {
    /* padding: 0; */
    height: 200px;
    width: 30%;
}















@media (max-device-width: 800px) {
    .slides-wrapper {
        display: none;
    }
    h3.mobile-title {
        display: block;
        color: #1f967c;
        text-align: center;
        padding: 5px 0px;
    }
    app-meetups.ng-tns-c2-0.ng-star-inserted {
        margin-left: -300px;
    }
    h2.row {
        margin-left: -300px;
    }
    nav.lighten-2 {
        width: 170%;
    }
    #cont.home-wr {
        margin-top: 0px;
        margin-left: 0px;
    }
}
@media (min-width: 800px) {

}
@media (max-width: 800px) {

    .row .col.s4 {
        width: 70%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}

.col.s12.m6 {
    display: flex;
}





.col.s12.m6[_ngcontent-c2] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 110%;
    margin-left: -30px;
}
