
<h2>Все мероприятия</h2>
<ul>
        <li>
            <span class="search-ico"> <i class="material-icons prefix search-ico">search</i></span> <input id="icon_prefix" type="text" [(ngModel)]="queryString" class="validate">
        </li>
        <li>
            <label> Сортировка по цене: </label>
            <select class="browser-default"  [(ngModel)]="sortString">
                <option value="Выберете селектор" disabled > Выберете селектор</option>
                <option value="Без сортировки"> Без сортировки</option>
                <option value="SortPrice: Lowest to Highest"> Цена: Самый низкая к самой высокой</option>
                <option value="SortPrice: Highest to Lowest"> Цена: Самый высокая к самой низкой</option>
                <option value="free">Бесплатные</option>
            </select>
            <label> Категория: </label>
            <select class="browser-default" [(ngModel)]="filtercategory">
                <option value="Выберете основную категорию" disabled>Выберете основную категорию</option>
                <option value="Выберете основную категорию">Все категории</option>
                <option *ngFor="let category of categories" value="{{category.category_name}}">{{category.category_name}}</option>
            </select>
        </li>
</ul>

<div class="row" *ngIf="meetupsObs | async as onemeetup else loading">
    <app-meetups class="col s4" *ngFor="let meetup of onemeetup | filter: queryString | sort: sortString | categoryFilter: filtercategory" [meetup]="meetup" [isUser] = "this.authService.getloggedIn()" [category] = "category"></app-meetups>
</div>
