
@media (max-width: 800px) {
    .card.once-meetup {
        width: 90%;
        margin-left: -700px;
        position: absolute;
    }

    .row.s7.descript-map {
        margin-left: -600px;
        /* width: 20%; */
    }
    .row.s7.descript-map.descr {
        margin-top: 440px;
    }
    .card.once-meetup.comment {
        margin-left: -340px;
        /* width: 100%; */
        width: 360%!important;
   }
    p[_ngcontent-c2] {
        font-weight: bold;
        margin-left: 0px;
    }
    .agm-map-container-inner.sebm-google-map-container-inner {
        width: 80%;
    }
    .agm-map-container-inner[_ngcontent-c5] {
        width: 40%!important;
        height: inherit;
    }

    div#div-descr {
        margin-left: -200px;
    }
    .author {
        margin-top: -40px;
        position: inherit;
        text-align: right;
    }
    #div-descr[_ngcontent-c2] {
        margin-left: 0px!important;
        width: 100%;
    }
    
    
}
@media (min-width: 800px) {
    .card.once-meetup {
    width: 130%;
    height: 500px;
    margin-left: -400px;
    }  
    .card.once-meetup.edit {
        margin-left: -300px;
    }
    select.browser-default.form-categ {
        display: block;
        width: 40%;
    }
    .author {
        margin-top: -40px;
        position: inherit;
        text-align: right;
    }
    .row.s7.map-class {
        margin-left: -300px;
        /* font-size: 13px; */
    }
    #div-descr {
        margin-left: -200px!important;
        width: 100%;
    }
}

#comm {
    margin-left: -80px;
}


p.comment-par {
    font-weight: 300;
    /* width: 77700px; */
}
span.name-event {
    font-size: 22px;
    /* margin-bottom: -10px; */
}
.row.s7 {
    margin-left: -100px;
}
.card {
    width: 300px;
    margin: 20px 30px;
    padding: 10px 20px 5px 20px;
}
.card-content[_ngcontent-c2] {
    padding: 0px;
    height: 360px;
    padding-bottom: 10px;
    font-size: 16px;
}

.col.s12.m6 {
    display: flex;
}
.card.once-meetup.comment-card {
    width: 100%;
    height: 100%;
    margin-left: -200px;
    margin-top: 51px;
}

.card-content {
    padding: 0px;
    padding-bottom: 10px;
}
.card .card-image {
    position: relative;
    float: left;
    width: 60%;
}
.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    /* top: 0; */
    /* bottom: 0; */
    width: 90%;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: #898686;
}
input#input_text {
    font-weight: 400;
}
.home-wr {
    margin-top: 10px;
    margin-left: 350px;
}

.price-card {
    margin-top: 10px;
}

span.card-title {
    font-size: 18px !important;
}

p {
    font-weight: bold;
    margin-left: -200px;
}

a.collapsible-header.waves-effect.waves-teal {
    font-weight: bold !important;
}

input#icon_prefix {
    width: 300px;
    float: right;
    margin-right: 1000px;
}

.search-ico {
    margin-top: 10px;
    position: absolute;
}

.input-field > select {
    display: block;
    position: relative;
    width: 30%;
    opacity: 1;
    pointer-events: all;
    height: auto;
}

card .card-title {
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    margin-top: -400px;
    margin-left: 32%;
    width: 50%;
}

.card-title.decription {
    float: left;
    margin-top: -380px;
    margin-left: 400px;
}

#textarea12 {

    margin-left: -200px;
    display: block;
    padding: 0;
    width: 100%;
}

img {
    width: 200px;
}

input#input_text {
    width: 200px;
    margin-left: 10px;
}

p.card-title.price-card {
    margin-top: 50px;
}

.row {
    margin-left: 100px;
}

h2 {
    margin-right: 400px;
}

.admin-card {
    margin-left: 150px;
}

.row.user {
    margin-left: 270px;
}

span.price-card.category {
    margin-top: 16px;
    margin-left: -100px;
    display: block;
}

p.category-label {
    position: absolute;
}

div#modal2 {
    width: 30%;
    height: 30%;
}

h5 {
    margin-left: 46px;
}

.decr-form[_ngcontent-c2] {
    margin-left: -200px;
    width: 95%;
}
.decr-form p {
    font-weight: bold;
    margin-left: 0px;
}

.row.decr-form {
    margin-left: -300px;
    width: 100%;
}