<script>
        function initMap() {
            var uluru = {lat: -25.363, lng: 131.044};
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
            });
            var marker = new google.maps.Marker({
            position: uluru,
            map: map
            });
        }
    </script>
<div class="home-wr">
    <div *ngIf="isDelete">
        <div id="modal2" class="modal modal-fixed-footer open" style="z-index: 1005; display: block; opacity: 1; transform: scaleX(1); top: 10%;">
            <div class="modal-content">
                <h4>Мероприятие удалено</h4>
            </div>
            <div class="modal-footer">
                <a routerLink="/meetups/edit/" class="modal-action modal-close waves-effect waves-green btn-flat ">Закрыть</a>
            </div>
        </div>
    </div>

    <div *ngIf="meetupObs | async as meetup else loading">

        <div class="admin-card" *ngIf="authService.getloggedAdminIn() else user">
            <div class="row">
                <form [formGroup]="EditmeetupForm" (submit)="onUpdateMeetupSubmit()">
                    <div class="row">
                        <div class="card once-meetup edit">
                            <div class="card-image">
                                <img src="./assets/img/{{meetup.meetupData.image}}">
                            </div>
                            <div class="card-content">
                                <p class="card-title price-card"> 
                      Название: <input formCozntrolName="name" id="input_text" type="text" value = "{{meetup.meetupData.name}}"/> 
                                  </p>
                                <p> 
                      Изображение(Url): <input  id="input_text" formControlName="image" type="text" value = {{meetup.meetupData.image}}>
                      </p>
                                <p class="price-card"> 
                      Цена(USD): <input formControlName="price" id="input_text" type="text" value = {{meetup.meetupData.price}}> 
                      </p>
                                <p> 
                      Организатор: <input id="input_text" formControlName="createdBy" type="text" value = {{meetup.createdBy}}>
                      </p>
                      <p>
                            Категория:

                        </p>
                        <select class="browser-default form-categ" formControlName="category">
                                <option value="{{meetup.meetupData.category}}" disabled selected>{{meetup.meetupData.category}}</option>
                                <option *ngFor="let category of categories" value="{{category.category_name}}">{{category.category_name}}</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="row decr-form">
                    <p>Описание:</p>
                    <!-- <textarea id="textarea12" formControlName="description" class="materialize-textarea" value={{meetup.meetupData.description}}></textarea> -->

                    <textarea [froalaEditor] formControlName="description"></textarea>
                    </div>
                    <input class="waves-effect waves-light btn" type="submit" value="Сохранить">
                    <a class="waves-effect waves-light btn" (click)="deletemeetup()">Удалить</a>
                    </div>
                </form>
            </div>
        </div>
        <ng-template #user>
            <div class="row user">
                <div class="row s5">
                    <div class="card once-meetup">
                        <div class="card-image">
                            <img src="./assets/img/{{meetup.meetupData.image}}">
                        </div>
                        <div class="card-content">
                            <span class="card-title price-card">Название: 
                                <br>
                                <span class="name-event">
                                    {{meetup.meetupData.name}}
                                </span>
                            </span>
                            <span class="price-card">Цена(USD): <br>{{meetup.meetupData.price}} $</span>
                            <div class="author"> <span class="price-card">Организатор:<br> {{meetup.createdBy}}</span>
                            </div>
                            <p class="price-card">Категория:</p>
                            <span class="price-card">{{meetup.meetupData.category}}</span>
                            <br>
                            <br>
                            <div class="add-button" *ngIf="isFav">
                                <p>Вы уже присоеденились</p>
                                <br>
                            </div>
                            <div class="add-button" *ngIf="!authService.getloggedIn()">
                                    <p>Для того, чтобы присоедениться необходимо <a routerLink="/register"> зарегистрироваться </a> или <a routerLink="/login"> войти </a></p>
                            </div>
                            <div class="add-button" *ngIf="authService.getloggedIn()">
                                <button class="btn modal-trigger"  *ngIf="!isFavEdded && !isFav" (click)="addToFav(meetup._id)">Присоединиться</button>
                                <button *ngIf="isFavEdded" class="btn disabled">Присоединиться</button>
                                <button *ngIf="isFavEdded || isFav" (click)="deleteToFav(meetup._id)" class="btn red">Отмена</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row s7 descript-map descr">
                    <!-- <form [formGroup]="editorForm" >
                    <textarea [froalaEditor] formControlName="editorData" id="textarea1" class="materialize-textarea">
                    </textarea>
                    </form>
                    <app-editor></app-editor> -->
                    <p>Описание:</p>

                    <div id="div-descr" #textarea1 class="materialize-textarea">
                            <div #div >            
                                <div class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                             </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row s7 map-class descript-map">
                    <app-map> </app-map>
                </div>
            </div>
            <div>
                <div id="coom" *ngIf="!authService.getloggedAdminIn() && authService.getloggedIn()">
                    <h5>Коментарии</h5>
                    <div class="admin-card" *ngIf="authService.getloggedIn()">
                        <div class="row">
                            <form [formGroup]="AddCommentForm" (ngSubmit)="addCommentSubmit()">
                                <div class="card once-meetup comment-card">
                                    <div class="card-content">
                                        <span class="card-title price-card"> 
                                 <p class="comment-par"> Вопрос: <input style="
                                    width: 900px;" formControlName="commentsTitle" id="input_text" type="text"> </p>
                                <p class="comment-par" > Оценка (0-5): <input style="width: 900px;" formControlName="commentsRating" id="input_text" type="text"> </p>
                                 </span>
                                        <p>Описание:</p>
                                        <input formControlName="commentsDescription" id="input_text" type="text"> 
                                        <p>
                                        <input class="waves-effect waves-light btn" type="submit" [disabled]="AddCommentForm.invalid" value="Добавить комментарий">
                                    </p>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div *ngIf="commentsObs | async as onecomment else loading">
                    <div>
                        <app-comment *ngFor="let comment of onecomment" [comment]="comment" [oncemeetup]="oncemeetup">
                        </app-comment>
                    </div>
                </div>
            </div>

        </ng-template>
        <ng-template #loading>
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>

</div>

<script>
    
</script>