

.tabs .tab a {
    /* color: rgba(114, 37, 40, 0.7); */
    display: block;
    width: 100%;
    color: #258b80;
    font-weight: 500;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    transition: color .28s ease;
}


h4 {
    text-align: center;
    font-weight: 400;
    font-size: 27px;
    /* margin-left: 10px; */
    margin-top: 40px;
    margin-bottom: 20px;
}

@media (min-width: 800px) {
    .home-wr {
        margin-left: 350px;
        margin-top: 70px;
    }
}
@media (max-width: 800px) {
}
.home-wr {
    margin-top: 70px;
}
