<div class="home-wr">

    <div>
        <div class="admin-card" *ngIf="authService.getloggedIn()">
            <div class="row">
            <form [formGroup]="EditProfileForm" (submit)="saveProfile()" enctype="multipart/form-data">
                <div class="col s5">
                <div class="card once-meetup">
                    <div class="card-image profile-image">
                        <img *ngIf="pictureUrl" src={{pictureUrl}}>
                        <img *ngIf="!pictureUrl" src="./assets/img/user0.png">

                    </div>
                </div>

                <!-- <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" accept="image/*" ng2FileSelect [uploader]="uploader" formControlName="avatar" (change)="onFileChange($event)">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                  </div> -->

                  <div>
                        <div *ngIf="isEdit" class="file-field input-field">
                            <div class="btn">
                                <span>Выбрать</span>
                                <input type="file"  accept="image/*" ng2FileSelect [uploader]="uploader">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                  </div>
            
                  <button type="button" class="btn btn-success btn-s" *ngIf="isEdit"
                        (click)="uploader.uploadAll()">
                 Сохранить
                </button>
                <button class="btn modal-trigger" *ngIf="!isEdit" (click)="editProfile()">Редактировать</button>
                <!-- <button class="btn modal-trigger" type="submit" *ngIf="isEdit">Сохранить</button> -->
                </div>
                <div class="col s7">
                <div class="card-content row">
                    <div class="col label-col">
                        <div class="div-label">
                            <span class="label"> Email: </span>
                        </div>
                        <div  class="div-label">
                            <span class="label"> Имя: </span>
                        </div>
                        <div  class="div-label">
                            <span class="label"> Фамилия: </span>
                        </div>
                    </div>
                    <div class="col s7">
                        <div class=" price-card"> 
                            <input [readonly]="!isEdit" [ngStyle]="isEdit && {'border': '1px solid'}" formControlName="email" id="input_text" type="text" value = {{profile.email}}> 
                        </div>
                        <div> 
                            <input [readonly]="!isEdit" [ngStyle]="isEdit && {'border': '1px solid'}" id="input_text" formControlName="firstName" type="text" value = {{profile.firstName|uppercase}}>
                        </div> 
                        <div class="price-card"> 
                            <input [readonly]="!isEdit" [ngStyle]="isEdit && {'border': '1px solid'}" formControlName="lastName" id="input_text" type="text" value = {{profile.lastName|uppercase}}> 
                        </div>
                        </div>

                    </div>
                </div>
                <!--<input class="waves-effect waves-light btn profile-account" type="submit" value="Save">-->
                </form>
            </div>
        </div>
        <div *ngIf="!authService.getloggedAdminIn() && authService.getloggedIn()">
        <h4>Мероприятия</h4>
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
            <li class="tab"><a (click)="changeYourMeetups()">Как участник</a></li>
            <li class="tab"><a (click)="changeYourMeetups()">Как организатор</a></li>
          </ul>
          <div id="test1" *ngIf="isYourMeetups" class="col s12">        
            <div class="row favs" *ngIf="favsObs | async as onefav else loading">    
                <div *ngIf="onefav.length else cat">
                    <app-favs class="col s12 m6 l3" *ngFor="let fav of onefav"  [fav]="fav">   
                    </app-favs>
                </div> 
            </div>
            <ng-template #cat>
                <div class="no-fav">
                    <button class="btn" (click)="chooseEvent()"> Выбрать мероприятие</button>
                    <!-- <h6>Вы еще не участвуйте в мероприятиях :( <a routerLink="/meetups">Выбрать мероприятие</a></h6> -->
                </div>
            </ng-template>
        </div>
          <div id="test2" *ngIf="isMyMeetups" class="col s12">
                <h6>
                    <button class="btn" (click)="openModal()" >Создать новое мероприятие</button>
                </h6>
                <div class="row favs" *ngIf="meetupsObs | async as onemeetup else loading">    
                    <div *ngIf="onemeetup.length else onemeet">
                        <div class="col s12 m6 l3" *ngFor="let meetup of onemeetup">
                            <div class="card" *ngIf="meetup.createUser === authService.isLoggedIn()._id" [routerLink]="['/meetups/', meetup._id]">
                                <div class="card-image">
                                    <img src="./assets/img/{{meetup.meetupData.image}}">
                                </div>
                                <div class="card-content">
                                    <span class="card-title">{{meetup.meetupData.name}}</span>
                                    <span class="card-title price-card">{{meetup.meetupData.price | currency:"USD":true }}</span>
                                    <p>{{meetup.createdBy}}</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <ng-template #onemeet>
                    <h6>Вы еще не создали ни одного мероприятия :( 
                        <button class="btn" (click)="openModal()" >Создать мероприятие</button>
                    </h6>
                </ng-template>
          </div>
        </div>
        <ng-template #loading>
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
             </div>
            </div>
        </ng-template>
        <div *ngIf="isDialogOpen">
                <add-meetup [isDialogOpen] = "isDialogOpen" ></add-meetup>
        </div>
    </div>
</div>