
<h1>Все пользователи</h1>
     <div class="row">
         <div class="users" >
             <div *ngFor="let user of usersObs let i = index" class = "col s4">   
                    <div class="card" [routerLink]="['/oneUser/get/', '5b059af0998b6b228ca5536c']">
                        <div class="card-image">
                        
                            <img src="./assets/img/user{{i}}.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{user.firstName}}</span>
                            <span class="card-title price-card">{{user.lastName}}</span>
                            <p>{{user.email}}</p>
                        </div>
                    </div>
                </div>
         </div>
     </div>
